---
layout: default
---

<div id="main" role="main" class="container">
    <div class="col-md-9">
        <div class="posts">
            {% for post in site.posts limit:10 %}
            <article class="post">

                <h1 class=""><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
                <div class="R date">{{ post.date | date: "%B %e, %Y" }}</div>
                <div class="entry">
                    {{ post.excerpt }}
                </div>

                <div class="R"><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a></div>
            </article>

            <svg version="1.1" id="separator" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="750px" height="25px" viewBox="0 0 750 25" enable-background="new 0 0 750 25" xml:space="preserve">
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="3.435,21.087 14.739,4.217 24.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="24.435,21.087 35.739,4.217 45.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="45.435,21.087 56.739,4.217 66.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="66.435,21.087 77.739,4.217 87.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="87.435,21.087 98.739,4.217 108.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="108.435,21.087 119.739,4.217 129.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="129.435,21.087 140.739,4.217 150.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="150.435,21.087 161.739,4.217 171.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="171.435,21.087 182.739,4.217 192.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="192.435,21.087 203.739,4.217 213.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="213.435,21.087 224.739,4.217 234.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="234.435,21.087 245.739,4.217 255.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="255.435,21.087 266.739,4.217 276.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="276.435,21.087 287.739,4.217 297.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="297.435,21.087 308.739,4.217 318.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="318.435,21.087 329.739,4.217 339.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="339.435,21.087 350.739,4.217 360.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="360.435,21.087 371.739,4.217 381.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="381.435,21.087 392.739,4.217 402.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="402.435,21.087 413.739,4.217 423.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="423.435,21.087 434.739,4.217 444.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="444.435,21.087 455.739,4.217 465.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="465.435,21.087 476.739,4.217 486.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="486.435,21.087 497.739,4.217 507.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="507.435,21.087 518.739,4.217 528.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="528.435,21.087 539.739,4.217 549.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="549.435,21.087 560.739,4.217 570.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="570.435,21.087 581.739,4.217 591.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="591.435,21.087 602.739,4.217 612.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="612.435,21.087 623.739,4.217 633.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="633.435,21.087 644.739,4.217 654.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="654.435,21.087 665.739,4.217 675.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="675.435,21.087 686.739,4.217 696.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="696.435,21.087 707.739,4.217 717.652,21.087 "/>
            <polyline fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="717.435,21.087 728.739,4.217 738.652,21.087 "/>
        </svg>

        {% endfor %}
    </div>
</div>

<div id="tagContainer" class="col-md-3 R">
    <h5> &lt;/Tags&gt;:<h5>
    {% capture temptags %}
    {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
    {% endfor %}
    {% endcapture %}
    {% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
    {% for temptag in sortedtemptags %}
    {% assign tagitems = temptag | split: '#' %}
    {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
    <a href="/tag/{{ tagname }}"><nobr> &lt;/{{ tagname }}&gt;</nobr></a> <br/>
    {% endfor %}

</div>
</div>


<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-83959930-1', 'auto');
ga('send', 'pageview', {
    'page': '/',
    'title': ''
});
</script>
<!-- End Google Analytics -->
