html {
    font-family: 'Cutive Mono', monospace;
}

#wrapper-masthead {
    background-color: #171A1B;
    height: 10%;
    width: 100%;
    position: fixed;
}

body {
    background-color: #FFFAFA;
}

.wrapper-footer {
    background-color: red;
    height: 10%;
    width: 100%;
    position:absolute;
    bottom:0px;
}
