<!DOCTYPE html>
<html>
<head>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <script id="dsq-count-scr" src="//http-int-tense-com.disqus.com/count.js" async></script>
    {% if site.tags != "" %}
    {% include collecttags.html %}
    {% endif %}
</head>

<body>
    <div class="wrapper-masthead">
        <div class="container">
            <header class="masthead clearfix">
                <div class="site-info">
                    <h1 class="site-name"><a href="{{ site.baseurl }}/"><span class="bicolorHead">int</span><span class="bicolorHeadPrinc">tense</span></a></h1>
                </div>
                <nav>
                    <a href="{{ site.baseurl }}/">BLOG</a> /
                    <a href="{{ site.baseurl }}/about">ABOUT</a> /
                </nav>
            </header>
        </div>
    </div>

    <div id="main" role="main" class="container">
        {{ content }}
    </div>

    <div class="wrapper-footer">
        <div class="container">
            <footer class="footer">
                <div id="logoFooter"><a href="#">inttense</a></div>
                <div>
                    <a href="https://github.com/evawythien" target="_blank"><i class="fa fa-github-alt"></i></a>
                    <a href="https://www.linkedin.com/in/evadevena" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://codepen.io/evawythien/"><i class="fa fa-codepen"></i></a>
                </div>
            </footer>

        </div>
    </div>

    {% include analytics.html %}
    <script id="dsq-count-scr" src="//http-int-tense-com.disqus.com/count.js" async></script>
    <div id="disqus_thread"></div>
    <script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://http-int-tense-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);})();
    </script>

</body>
</html>
