---
layout: default
comments: true
---

<article class="post">

    <h1>{{ page.title }} <span>_</span></h1>

    <div class="date R">
        Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    <div class="entry">
        {{ content }}
    </div>

    <div class="postTags">
        {% for tag in page.tags %}
        <span class=""><a href="/tag/{{ tag }}">&lt;/{{ tag }}&gt;</a></span>
        {% endfor %}
    </div>

    {% include social-share.html %}

</article>

{% include analytics.html %}

<script id="dsq-count-scr" src="//http-int-tense-com.disqus.com/count.js" async></script>

<div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://http-int-tense-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);})();
</script>
